html
{
	background: #333;
}
body
{
	background: #333;
	color: #231F20;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: auto;
	padding: 0;
}
a
{
	color: #000;
	font-size: 14px;
}
#main
{
	height: 680px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	width: 1100px;
}
#text
{
	height: 425px;
	left: 60px;
	position: absolute;
	top: 80px;
	width: 400px;
}
#code
{
        color: #fff;
	display: none;
	font-size: 24px;
}
#clock-box
{
        color: #fff;
	display: none;
	font-size: 24px;
	left: 60px;
	position: absolute;
	top: 550px;
}
#clock-box a
{
        color: #fff;
	font-size: 16px;
	text-decoration: none;
}
#clock
{
        color: #fff;
	margin-left: 24px;
}
#clock .digit
{
        color: #fff;
	font-size: 28px;
}
#canvas
{
	height: 680px;
	margin: 0 auto;
	width: 1100px;
}
#error
{
	background: #333;
	display: none;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
}
.hand
{
	cursor: pointer;
}
.say
{
	margin-left: 5px;
}
.space
{
	margin-right: 150px;
}